.input-grid {
  display: grid;
  grid-template-columns: min(35%, 150px) min(65%, 400px);
  margin-top: 10px;
}

.input-grid label {
  text-align: right;
  margin-right: 10px;
}

.input-grid input {
  font-size: 1.2em;
}

.input-grid + p {
  color: #aa0000;
  margin: 5px 0;
}